
body {
    font-family: Microsoft JhengHei,Lucida Grande,Lucida Sans,Arial,sans-serif;
    font-size: 2em;
    text-align: center;
    vertical-align: top;
}
a { color: #336699; }
a:hover { color: #cc3366; }

#container {
    height: 18em;
    left: 50%;
    margin: -9em auto 0 -11.5em;
    position: absolute;
    top: 25%;
    width: 23em;
}

#list_pane {
    display: inline-block;
    height: 18em;
    width: 10em;
}

#draw_pane {
    display: inline-block;
    height: 18em;
    width: 13em;
}

#name_list {
    font-family: Microsoft JhengHei,Lucida Grande,Lucida Sans,Arial,sans-serif;
    font-size: 1em;
    height: 14em;
    width: 7em;
}

#switch {
    font-family: Microsoft JhengHei,Lucida Grande,Lucida Sans,Arial,sans-serif;
    font-size: 2em;
    font-weight: normal;
    height: 2.4em;
    margin-top: 0.4em;
    width: 100%;
    padding: 14px 11px;
}

button.css3button {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #ffa200;
    padding: 10px 20px;

    background: -moz-linear-gradient(
            top,
            #ffffff 0%,
            #ffffff 50%,
            #d6d6d6);
    background: -webkit-gradient(
            linear, left top, left bottom,
            from(#ffffff),
            color-stop(0.50, #ffffff),
            to(#d6d6d6));
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    border: 3px solid #ffbf00;
    -moz-box-shadow:
            0px 1px 3px rgba(000,000,000,0.5),
            inset 0px 0px 3px rgba(255,255,255,1);
    -webkit-box-shadow:
            0px 1px 3px rgba(000,000,000,0.5),
            inset 0px 0px 3px rgba(255,255,255,1);
    box-shadow:
            0px 1px 3px rgba(000,000,000,0.5),
            inset 0px 0px 3px rgba(255,255,255,1);
    text-shadow:
            0px -1px 0px rgba(000,000,000,0.1),
            -12px 3px 0px rgba(168,039,168,0);
}

button.css3button2 {
    width: 130px;
    height: 30px;
    margin: auto;
}





#draw {
    font-size: 2em;
}

.draw-a {
    color: #cccccc;
    font-size: 0.6em;
}
.draw-b {
    color: #999999;
    font-size: 0.8em;
}
.draw-c {
    border: 1px solid #000000;
    font-size: 1em;
}

#footer {
    bottom: 0.5em;
    color: #666666;
    font-size: 0.4em;
    position: fixed;
    right: 1em;
}
